<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="inprocess">
			<environmentVariables>
				<environmentVariable name="COMPLUS_ForceENC" value="1" />
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
	<connectionStrings>
		<add name="apiConnection" connectionString="server=localhost;user id=root;password=root;database=lr-db;port=3306;persistsecurityinfo=True;SslMode=Required;maxpoolsize=400;minpoolsize=0;default command timeout=600;charset=utf8;" />
	</connectionStrings>
</configuration>